@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("/src/fonts/Pretendard/Pretendard-Medium.ttf");
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("/src/fonts/Pretendard/Pretendard-Medium.ttf");
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("/src/fonts/Pretendard/Pretendard-SemiBold.ttf");
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("/src/fonts/Pretendard/Pretendard-Bold.ttf");
}

@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("/src/fonts/Pretendard/Pretendard-ExtraBold.ttf");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("/src/fonts/Pretendard/Pretendard-Regular.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
